body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.button-block {
    padding: 4px 8px;
    background-color: #00D7D2;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    border-radius: 5px;
    vertical-align: middle;
}

.nav > li > a {
    position: relative;
    display: inline-block;
    padding: 15px 15px;
}

.navbar-header {
    width: 20%;
}

.navbar-brand {
    padding: 8px 10px;
}

.logo {
    width: 80%;
}

.navbar-one {
    color: hsl(221,93%,16%);
    font-size: 12px;
}
