body {
    padding-top: 119px;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
}

nav {
    background-color: #fff;
}

.row {
    margin-bottom: 15px;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 36px;
    color: #031b4e;
}

h3 {
    color: #031b4e;
    font-size: 18px;
}

h4 {
    color: #5b6987;
    font-size: 16px;
}

a {
    color: #5b6987;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #5b6987;
}

.p-medium {
    font-size: 20px;
}

.btn-default {
    color: #006aff;
    background-color: transparent;
    border-color: #006aff;
}

.btn-default:hover {
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
}

.btn-primary {
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
}

.info-box {
    padding-bottom: 30px;
}

.fa-angle-down {
    vertical-align: middle;
}

.fa-circle {
    font-size: 12px;
    padding: 3px;
    color: #0069ff;
}

/*____Inizio Navbar____*/

.nav > li > a {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #006aff;
}

.navbar {
    margin: 0;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 27px;
}

.news-logo {
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 10px;
    background-color: #00D7D2;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-brand {
    float: left;
    max-width: 100%;
    height: 64px;
    padding: 15px 15px;
}

.navbar-brand>img {
    display: inline-block;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
}

a.link-navbar-one {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: #5b6987;
}

ul.nav.navbar-nav.navbar-left {
    padding: 10px 10px;
}

ul.nav.navbar-nav.navbar-right {
    font-size: 16px;
    color: #5b6987;
}

.navbar-btn {
    margin: 0;
    font-weight: bold;
}

.navbar-one {
    border-bottom: 1px solid rgb(229,232,237);
}

/*____Fine Navbar____*/


/*____Inizio Jumbotron____*/

#jumbotron {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-color: #0069ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    color: white;
}

#jumbotron .p-style {
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}

.news-popup a > p{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #031B4E;
    color: white;
    border-radius: 8px;
}

.news-popup a > p:hover {
    transform: scale(1.005);
    box-shadow: rgba(3, 27, 78, 0.1) 0px 10px 20px;
    background-color: rgb(21, 205, 114);
}

.panel {
    max-width: 100%;
    min-height: 320px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default>.panel-heading {
    width: 100%;
    color: #333;
    background-color: #f3f5f9;
    border-color: #ddd;
}

.panel-body {
    width: 100%;
    padding: 32px;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
    height: 100%;
    font-size: 18px;
    padding: 14px;
}

.panel-footer {
    padding: 30px 32px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-form {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 1.42857143;
    border: 1px solid #006aff;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*____Fine Jumbotron____*/


/*____Inizio Sezione logos____*/

#logos {
    padding: 45px 0px;
    background-color: #F3F5F9;
}

#logos a.special-link {
    color: #0069FF;
    font-size: 16px;
}

/*____Fine Sezione logos____*/


/*____Inizio Sezione Deploy____*/

#deploy {
    padding: 50px 0;
}

#deploy h2, h4{
    color: #031B4E;
}

#deploy .text-box {
    width: 65%;
    padding-top: 10px;
    font-weight: 100;
    font-size: 23px;
    color: #5b6987;
}

.btn-link {
    font-size: 16px;
    font-weight: bold;
    color: rgba(3, 27, 78, 0.6);
    border-radius: 0;
}

button.active {
    color: #031b4e;
}

button.disabled {
    color: #031b4e;
}

.border-line .active{
    border-bottom: 3px solid blue;
}

.border-line .disable{
    border-bottom: 3px solid grey;
}

#deploy .btn {
    padding-bottom: 15px;
    text-align: left;
}

.btn-link:focus, .btn-link:hover {
    color: #031b4e;
    text-decoration: none;
    background-color: transparent;
}

/*____Fine Sezione Deploy____*/


/*____Fine Sezione Carousel____*/

#carousel {
    position: relative;
    background-color: #F1F1F1;
    padding: 50px 0;
}

.fa-long-arrow-alt-right {
    position: absolute;
    top: 42%;
    right: 200px;
    z-index: 2;
    font-size: 35px;
    color: #0069ff;
}

.fa-long-arrow-alt-left {
    position: absolute;
    top: 42%;
    left: 200px;
    z-index: 2;
    font-size: 35px;
    color: grey;
}

#carousel div {
    background-color: #F1F1F1;
    padding-bottom: 10px;
}

#carousel img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(3,27,78,0.06);
}

/*____Fine Sezione Carousel____*/

/*____Inizio Sezione Built-business____*/

#built-business {
    padding: 50px 0;
}

#built-business a {
    color: #0069ff;
}

/*____Fine Sezione Built-business____*/


/*____Inizio Sezione Data-center____*/

#data-center {
    background: #031b4e url('https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg');
    padding: 100px 0;
}

#data-center .short {
    width: 80%;
}

#data-center h2,#data-center p  {
    color: #fff;
}

#data-center a {
    color: #0069ff;
}

#data-center ul {
    width: 100%;
    display: inline-block;
    padding-inline-start: 0;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    margin-right: 25px;
}

#data-center li {
    display: inline-block;
}

#data-center .li-one {
    width: 15%;
    display: inline-block;
}

#data-center .li-two {
    width: 68%;
    display: inline-block;
}

#data-center .li-three {
    width: 15%;
    display: inline-block;
}

#data-center span {
    display: inline-block;
    font-weight: bold;
    color: white;
}

#data-center .p-list {
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
}

#data-center a {
    color: #00d7d2;
}

#data-center a:hover {
    color: #1633ff;
}

/*____Fine Sezione Data-center____*/


/*____Inizio Media Queries____*/

@media (min-width: 768px) {
    .info-box {
        text-align: left;
    }

    .border-line .active {
        padding-left: 5px;
        border-bottom: none;
        border-left: 3px solid blue;
    }

    .border-line .disable {
        padding-left: 5px;
        border-bottom: none;
        border-left: 3px solid grey;
    }

    #deploy button {
        padding-bottom: 15px;
    }

    #data-center .short {
        width: 50%;
    }
}
